.header-nav {
    background-color: var(--color-hero);
}
.header-nav__portfolio {
    border-bottom: 1px solid var(--color-border);
}
.header-container {
    display: flex;
    align-items: center;
}
.contact-group {
    display: flex;
    align-items: center;
}
.contact-group__link:hover,
.contact-group__link:focus {
    color: var(--color-hover);
    fill: var(--color-hover);
}
.contact-group__link--mail {
    margin-right: 50px;
}
.contacts-group__icon {
    margin-right: 10px;
}