:root {
    --color-title: #212121;
    --color-text: #757575;
    --color-address: rgba(255, 255, 255, 0.6);
    --color-hover: #2196f3;
    --color-hover-hero-btn: #188ce8;
    --color-logo: #000000;
    --color-hero: #ffffff;
    --bg-color-footer: #2f303a;
    --bg-color-team: #f5f4fa;
    --color-border: #ececec;
    --color-border-secondary: #eeeeee;
    --font-family-logo: 'raleway', sans-serif;
    --font-family: 'roboto', sans-serif;
}